.spinner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    z-index: 9999;
}

.spinner-border{
    width: 4rem;
    height: 4rem;
    color: #fff;
}
body{
    background-color: rgb(227, 222, 222);
}

.fa-pen-to-square,
.fa-trash{
    cursor: pointer;
    transition: all .3s ease;
}

.fa-pen-to-square:hover,
.fa-trash:hover{
    transform: scale(1.15);
}

.highlight-row{

    background-color: #fff3cd !important;
    transition: 1s;
   

}
